body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 20px;
}

#instrumentosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instrumento {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  vertical-align: top;
  font-size: 1.2em;
  transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.instrumento h3 {
  margin-top: 0;
}

.instrumento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.tocado {
  background-color: #ff5733;
  box-shadow: 0 0 15px #ff5733;
  transform: scale(1.1);
}

.no-sonido {
  background-color: #34dba3;
  box-shadow: 0 0 10px #55db34;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.instrumento {
  animation: fadeIn 0.5s;
}

#uniqueButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#uniqueButton:hover {
  background-color: #2980b9;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #2c3e50;
}

text {
  font-size: 20px;
  margin-bottom: 20px;
  color: #2c3e50;
}

h2 {
  font-size: 2em;
  margin: 20px 0;
  color: #34495e;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons h2 {
  margin-top: 40px;
}

button {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

button:active {
  background-color: #1c6ea4;
}

button:focus {
  outline: none;
}

/* New class for styled buttons */
.styled-button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.styled-button:active {
  background-color: #1c6ea4;
}

.styled-button:focus {
  outline: none;
}

.styled-header {
  font-size: 3em;
  margin-bottom: 20px;
  color: #2c3e50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ecf0f1;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}
